@page "/appusers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New AppUser</h3>
<hr />
<br />

<FormComponent ButtonText="Create AppUser" appuser="appuser" OnValidSubmit="@CreateAppUser" />

@code { 
    AppUser appuser = new AppUser();

    private async Task CreateAppUser()
    {
        await _client.PostAsJsonAsync(Endpoints.AppUsersEndpoint, appuser);
        _navManager.NavigateTo("/appusers/");
    }
}