@page "/ratings/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Rating</h3>
<hr />
<br />

<FormComponent ButtonText="Create Rating" appuser="rating" OnValidSubmit="@CreateRating" />

@code {
    Rating rating = new Rating();

    private async Task CreateRating()
    {
        await _client.PostAsJsonAsync(Endpoints.RatingsEndpoint, rating);
        _navManager.NavigateTo("/ratings/");
    }
}